<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Sign up</title>
    <link href="../../../../content/css/bootstrap.css" rel="stylesheet" />
    <script src="../../../jquery-1.11.3.js"></script>
    <script src="../../../bootstrap-3.3.5.js"></script>
    <script src="../../../angular-1.4.6.js"></script>
    <script src="../../../angular-messages.js"></script>
    <script src="../../../angular-route.js"></script>
    <script src="../../app.js"></script>
    <script src="../../Services/AccountService.js"></script>
    <script src="../../Controller/SignupController.js"></script>
    <script src="../../Directives/SignupDirective.js"></script>
    <script src="../../Directives/UniqueCheckDirective.js"></script>
</head>
<body ng-app="todoModule">
    <div class="container-fluid" ng-controller="SignupController">
        <signup-form />
    </div>
</body>
</html>
